*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff0037;
}

.pantalla .cronometro{
    height: 100px;
    background: #bd5f74;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: 0px 0px 8px 5px #e6aebe;
    border: none;
}

.pantalla .cronometro span {
    width: 60px;
    text-align: center;
    font-size: 45px;
    font-weight: 520;
    color: rgb(11, 118, 134);
}

.cronometro span.sp,
.cronometro span.spm
{
    width: 30px;
}

.cronometro span.spm,
.cronometro span.milisegundo{
    color: #6215a5; 
}

.pantalla .botones{
    text-align: center;
    margin-top: 30px;
}

.botones button{
    padding: 6px 16px;
    outline: none;
    border: none;
    margin: 0px 10px;
    color: rgb(11, 118, 134);
    background: #a0a0a0;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0.9rem;
    cursor: pointer;
    box-shadow: 3px 4px 3px 0px rgb(6, 6, 255);
}
.botones button.on{
    pointer-events:none;
    opacity: 0.7;
}